/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, fieldset, form, label, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

/* -------------------------------------------------- */

@font-face {
    font-family: pixelar;
    src: url(fonts/Crosterian.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/MontserratAlternates/MontserratAlternates-Regular.otf)
}

:root {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: rgb(227, 199, 227);
    
    font-family: montserrat, 'Courier New', Courier, monospace;
}

main {
    display: flex;

    min-height: 100vh;
}

/* ------------- LEFT SIDE PAGE STYLING ------------- */

.left-side-container {
    display: flex;
    position: relative;
}

.left-side-container > .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 30%;

    width: 100%;

    text-align: center;
    font-family: pixelar, sans-serif;
    font-size: 4rem;
    color: floralwhite;

    background-color: rgba(0, 0, 0, 0.4);
}

.left-side-container > .image-credit {
    position: absolute;
    bottom: 1%;

    width: 100%;

    text-align: center;
}

.left-side-container .image-credit {
    color: rgb(179, 179, 179);
}

.image-credit > a {
    color: inherit;
}

/* -------------------------------------------------- */


/* ------------- RIGHT SIDE PAGE STYLING ------------- */

.italize {
    font-style: italic;
}

.right-side-container {
    display: flex;
    flex-direction: column;
}

.right-side-container > h1 {
    font-size: 2.5rem;
    text-align: justify;

    line-height: 1.5;

    padding: 0 15rem;
}

.form-main > h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    /* background: linear-gradient(
        135deg,
        rgb(227, 199, 227),
        rgb(232, 189, 238), 70%, 
        rgb(234, 150, 240)
      ); */

    background-color: rgba(233, 203, 233, 0.665);

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25);

    padding: 2rem 15rem;
}

.form-main-row {
    display: flex;
    gap: 10rem;
}

.form-main-row div {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

form .btn-create-account {
    align-self: flex-start;
    padding: 1rem 3rem;

    margin-top: 1.5rem;

    font-family: inherit;
    font-size: 1.8rem;

    border: none;
    border-radius: 10px;

    background-color: rgb(253, 146, 250);

    cursor: pointer;
}

form input {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 1rem;
}

form input:focus {
    outline: 1px solid blue;
    box-shadow: inset 0 0 5px 1px lightblue;
}

form label {
    font-size: 1.05rem;

    color: black;
}

input[type="password"]:invalid {
    outline: 1px solid rgb(243, 121, 121);
    background-color: rgb(252, 192, 192);
    box-shadow: none;
}