/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, fieldset, form, label, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

/* -------------------------------------------------- */

@font-face {
    font-family: pixelar;
    src: url(fonts/Crosterian.ttf);
}

:root {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: rgb(227, 199, 227);
}

main {
    display: flex;

    min-height: 100vh;
}

/* ------------- LEFT SIDE PAGE STYLING ------------- */

.left-side-container {
    display: flex;
    position: relative;
}

.left-side-container > .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 30%;

    width: 100%;

    text-align: center;
    font-family: pixelar, sans-serif;
    font-size: 4rem;
    color: floralwhite;

    background-color: rgba(0, 0, 0, 0.4);
}

.left-side-container > .image-credit {
    position: absolute;
    bottom: 1%;

    width: 100%;

    text-align: center;
}

.left-side-container .image-credit {
    color: rgb(179, 179, 179);
}

.image-credit > a {
    color: inherit;
}

/* -------------------------------------------------- */


/* ------------- RIGHT SIDE PAGE STYLING ------------- */

.italize {
    font-style: italic;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    

    padding: 2rem 5rem;
}

.right-side-container > h1 {
    font-size: 2.5rem;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.form-main > h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;     /* Centers itself */
    gap: 3rem;

    width: 600px;
}

.form-main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 2rem 3rem;

    background-color: white;

    border-radius: 6px;
}

.form-main-row {
    display: flex;
    justify-content: space-around;
}

.form-main-row div {
    display: flex;
    flex-direction: column;
}

form > .btn-create-account {
    align-self: flex-start;
    padding: 0.5rem 2rem;
}